.container {
  background-color: #f7f9fb;
  border-radius: 16px;
  padding: 30px;

  &--full {
    width: 100%;
  }

  &--package {
    background-color: #eef3f9;
    border-radius: 16px;
    padding: 25px;
  }

  & > div:nth-child(n + 2) {
    padding-top: 20px;
  }

  & > p {
    & > p {
      padding-bottom: 5px;
    }
  }
}

.packages-grid {
  margin: 16px 0;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  & > .package {
    width: 50%;
  }
}

.package {
  &__settings {
    list-style-type: none;
    margin: 25px 0;

    li {
      p {
        display: inline-block;
      }
    }
  }
}

.package-contents {
  padding-top: 20px;
}

// Drawer Toolbar
.toolbar-main {
  background-color: white;
}

// logo
.cal-adapt-logo {
  margin: 16px auto;
}

.alerts {
  display: flex;
  gap: 28px;
  margin-bottom: 26px;
}

.cta {
  margin-top: 15px;
}

.bottom-actions {
  padding-top: 30px;
}

.option-group {
  &__title {
    display: inline-block;
  }

  svg { 
    width: 15px;
    color: #57AEF3;
    margin-left: 5px;
    height: 15px;
    margin-bottom: -2px;
  }
}