// Drawer Toolbar
.toolbar-main {
  background-color: white;
  height: 0;
}

// logo
.cal-adapt-logo {
  margin: 16px auto;
  &__mobile {
    margin: 0 auto;
  }
}

.cta {
  margin-top: 15px;
}

.bottom-actions {
  padding-top: 30px;
}

.container {
  background-color: #f7f9fb;
  border-radius: 16px;
  padding: 30px;

  &--full {
    width: 100%;
  }

  &--package {
    background-color: #eef3f9;
    border-radius: 16px;
    padding: 25px;
  }


  &--white {
    background-color: white;
    margin-top: 16px;
  }

  &--transparent {
    background-color: rgba(255, 255, 255, 0.8);
  }

  & > div:nth-child(n + 2) {
    padding-top: 20px;
  }

  & > p {
    & > p {
      padding-bottom: 5px;
    }
  }
}

.option-group {
  &__title {
    display: flex;
  }

  svg {
    width: 15px;
    margin-left: 5px;
    height: 15px;
    margin-bottom: -2px;
  }

  &--vertical {
    display: flex;
    flex-direction: column;
  }
}

.mobile-view {
  background-image: url("../../../public/img/photos/ocean-thumbnail.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */

  &__container {
    height: 90%;
    width: 90%;
    background-color: #eef3f9;
    padding: 50px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    text-align: center;
  }
}

.tool-container {
  &--padded {
    padding: 30px;
  }
}