.solar-drought-tool {
  &__heatmap {
    width: 1000px;


  }

  &__intro {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .loading-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 300px;
  }

  .alerts {
    margin-left: 103px;
    margin-right: 14px;
  }
}

.flex-params {
  display: flex;
  gap: 40px;
  margin: 35px 0;
  justify-content: end;
}
